@import '../../styles/icons.scss';
.mainMenu{
  margin: 90px 0 0;
  .photo{
    border: 5px solid #D7D7D7;
    border-radius: 50%;
    float: left;
    height: 62px;
    margin: 0 24px 0 0;
    width: 62px;
  }
  ul.menu{
    border:none;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    background: transparent;
    li.item{
      border: none;
      font-weight: normal;
      top: 5px;
      &.signup{
        color: #414141;
      }
      &.login{
        color: #888DEA;
        font-weight: bold;
        padding-left: 0;
        &:before{
          @extend %arrow;
          @extend %icon-size;
          content: '';
          float: left;
          margin-right: 10px;
          position: relative;
          top: 14px;
        }
      }
    }
    span{
      font-weight: 300;
      color: #828282;
      position: relative;
      top: 5px;
    }
  }
}