@import '../../styles/icons.scss';
.HomeBox{
  cursor: pointer;
  width: 174px;
  height: 200px;
  color: #414141;
  background: #FFF;
  box-shadow: 0px 10px 10px rgba(177, 177, 177, 0.25);
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  padding: 0 12px 12px 12px;
  .photo{
    width: 150px;
    height: 131px;
    border-radius: 0px 0px 10px 10px;
  }
  .price{
    margin: 10px 0 3px;
    display: inline-flex;
    float: left;
    .current{
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      margin: 0;
    }
    .before{
      font-weight: 500;
      font-size: 15px;
      line-height: 28px;
      margin: 0;
      &:before{
        content: '';
        @extend %small-arrow;
        float: left;
        margin: 0 5px;
        width: 10px;
        height: 10px;
        position: relative;
        top: 9px;
      }
    }
  }
  .ideal{
    background: #F76060;
    border-radius: 50%;
    float: right;
    height: 15px;
    position: relative;
    top: 16px;
    width: 15px;
  }
  .info{
    display: inline-block;
    width: 100%;
    .roomers{
      font-weight: normal;
      font-size: 13px;
      margin-right: 10px;
      float: left;
      &:before{
        content: '';
        @extend %roomers;
        float: left;
        width: 16px;
        height: 14px;
        margin-right: 3px;
        position: relative;
        top: 2px;
      }
    }
    .isSecure{
      letter-spacing: -0.1em;
      font-weight: 500;
      color: #5CDE88;
      float: left;
      &:before{
        content: '';
        @extend %safe;
        float: left;
        width: 13px;
        height: 13px;
        margin-right: 3px;
        position: relative;
        top: 3px;
      }
    }
  }
  &.selected{ 
    /* .openlink-anim{
      display: block;
    } */
    /* animation: zoomAndBlur 0.5s ease-in-out;
    width: 250px;
    height: 287.36px;
    @keyframes zoomAndBlur {
      0%{
        width: 174px;
        height: 200px;
      }
      100%{
        width: 250px;
        height: 287.36px;
      }
    } */
  }
}