@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

$color_1: #C4C4C4;
$color_2: #414141;
$color_3: #888888;
$font_family_1: FontAwesome;

.rating {
	border: none;
	float: left;
	margin: 0 auto;
	input {
		display: none;
		&:checked {
			&~label {
				color: $color_2;
				&:hover {
					color: $color_3;
					&~label {
						color: $color_3;
					}
				}
			}
			&+label {
				&:hover {
					color: $color_3;
				}
			}
		}
	}
	label {
		cursor: pointer;
		&:before {
			margin: 0 1px;
			font-size: 1.25em;
			font-family: $font_family_1;
			display: inline-block;
			content: "\f005";
		}
		color: $color_1;
		float: right;
		&:hover {
			&~input {
				&:checked {
					&~label {
						color: $color_3;
					}
				}
			}
		}
	}
	.half {
		&:before {
			content: "\f089";
			position: absolute;
		}
	}
	&:not(:checked) {
		>label {
			&:hover {
				color: $color_2;
				&~label {
					color: $color_2;
				}
			}
		}
	}
}
