.HomePage{
  height: auto;
  .mapSection{
    margin-top: 40px;
    div:not([class]){
      height: 100%;
    }
  }
  .homeSection{
    .preferences{
      display: inline-block;
      width: 100%;
      .title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 20px;
        color: #000000;
        float: left;
      }
      .btn{
        float: right;
        .icon{
          &.catalog{
            width: 20px;
            height: 20px;
          }
          &.slider{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}