.btn{
  cursor: pointer;
  width: fit-content;
  height: 44px !important;
  &.primary{
    background: #EEE;
    border-radius: 10px;
    border: none;
    padding: 12px;
    &:hover{
      background: #f1f1f1;
    }
  }
}