%icon-size{
  height: 17px;
  width: 17px;
}
%arrow{
  background: url('/assets/icons/arrow.svg') no-repeat;
  background-size: contain;
}
%small-arrow{
  background: url('/assets/icons/small-arrow.svg') no-repeat;
  background-size: contain;
}
%marker{
  background: url('/assets/icons/marker.svg') no-repeat;
  background-size: contain;
}
%roomers{
  background: url('/assets/icons/roomers.svg') no-repeat;
  background-size: contain;
}
%safe{
  background: url('/assets/icons/safe.svg') no-repeat;
  background-size: contain;
}
%catalog{
  background: url('/assets/icons/catalog.svg') no-repeat;
  background-size: contain;
}
%slider{
  background: url('/assets/icons/slider.svg') no-repeat;
  background-size: contain;
}
%dollar-sign{
  background: url('/assets/icons/dollar-sign.svg') no-repeat;
  background-size: contain;
}
%dollar-sign-bold{
  background: url('/assets/icons/dollar-sign-bold.svg') no-repeat;
  background-size: contain;
}
%dreamHome{
  background: url('/assets/icons/dreamhome.svg') no-repeat;
  background-size: contain;
}
.icon{
  @extend %icon-size;
  &.arrow{
    @extend %arrow;
  }
  &.marker{
    @extend %marker;
  }
  &.small-arrow{
    @extend %small-arrow;
  }
  &.roomers{
    @extend %roomers;
  }
  &.safe{
    @extend %safe;
  }
  &.catalog{
    @extend %catalog;
  }
  &.slider{
    @extend %slider;
  }
  &.dollar-sign{
    @extend %dollar-sign;
  }
  &.dollar-sign-bold{
    @extend %dollar-sign-bold;
  }
  &.dreamHome{
    @extend %dreamHome;
  }
}