@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

@import './helpers/mixins-flexbox';
@import './helpers/variables.scss';
@import './helpers/mixins-media-queries';

@import './fonts.scss';
@import './icons.scss';
@import './buttons.scss';

body {
  padding: 0%;
  margin: 0%;
  background: #F9F9F9;
  .layout{
    background: transparent;
    padding: 0 420px;
    .header{
      padding: 0;
      height: auto;
      background: transparent;
    }
    .footer{
      background: transparent;
      margin: 94px 0;
      .logo{
        display: block;
        margin: 0 auto;
      }
    }
    .overlay{
      pointer-events: none;
      &.light{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #F9F9F9 0%, rgba(255, 255, 255, 0) 48.07%);
      }
    }
    .row-15{
      margin: 0 -15px;
    }
  }
  .ant-tooltip{
    &.ant-tooltip-placement-left{
      .ant-tooltip-arrow{
        border-left-color: #eee;
      }
    }
    &.ant-tooltip-placement-top{
      .ant-tooltip-arrow{
        border-top-color: #eee;
      }
    }
    .ant-tooltip-inner{
      background: #EEEEEE;
      border-radius: 8px;
      padding: 11px 16px;
      color: #414141;
      box-shadow: none;

      span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  .slideWrapper{
    .navigation{
      background: #D7D7D7;
      -webkit-mask-image: url('/assets/icons/slider-arrow.svg');
      -webkit-mask-repeat: no-repeat;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 95px;
      width: 40px;
      height: 40px;
      z-index: 2;
      &.swiper-button-next{
        right: -60px;
      }
      &.swiper-button-prev{
        transform: rotate(180deg);
        left: -70px;
      }
      &.swiper-button-disabled{
        opacity: 0;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .openlink-anim{
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    height: 100vh;
    display: none;
  }
}
