@import '../../components/HomeBox/HomeBox.scss';
.EstatePage{
  &.HomeBox{
    width: initial;
    height: initial;
    background: initial;
    box-shadow: none;
  }
  .slideWrapper{
    background: #eee;
    border-radius: 0px 0px 10px 10px;
    height: 590px;
    position: relative;
    overflow: hidden;
    .slider{
      width: 100% !important;
      height: 100% !important;
      .swiper-wrapper{
        overflow: hidden;
        .swiper-slide{
          overflow: hidden;
          cursor: grab;
          .photo{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .navigation{
      background: #FFF;
      top: 275px;
      &.swiper-button-next{
        right: 30px;
      }
      &.swiper-button-prev{
        transform: rotate(180deg);
        left: 30px;
      }
    }
  }
  .price{
    margin: 30px 0 0;
    .current{
      font-size: 60px;
      line-height: 73px;
    }
    .before{
      font-size: 34px;
      line-height: 70px;
      &:before{
        margin: 0 11px;
        width: 20px;
        height: 20px;
        top: 25px;
      }
    }
  }
  .info{
    margin-top: 12px;
    .roomers{
      font-size: 21px;
      line-height: 26px;
      &:before{
        width: 35px;
        height: 30px;
        margin-right: 6px;
        top: -2px;
      }
    }
    .isSecure{
      font-weight: 500;
      font-size: 21px;
      line-height: 26px;
      &:before{
        width: 21px;
        height: 21px;
        margin-right: 6px;
        top: 3px;
      }
    }
    div:not(:last-child){
      margin-right: 25px;
    }
  }
}