@import '../../styles/icons.scss';
@import '../../styles/inputs.scss';
.MapSearch{
  position: relative;
  margin-bottom: 30px;
  .MapContainer{
    background: #EEE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    height: 170px;
    position: relative;
    z-index: 1;
    .map{
      position: relative !important;
    }
    .tile{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: fit-content;
      height: 46px;
      margin: auto;
      background: #FFF;
      border-radius: 10px;
      padding: 13px 16px;
      text-align: center;
      .icon{
        float: left;
        width: 12px;
        height: 18px;
        position: relative;
        top: 1px;
        margin-right:10px;
      }
    }
  }
  .MapContainer + div:not([class]){
    display: none;
  }
  .filters{
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    .filter{
      cursor: pointer;
      display: flex;
      background: #EEEEEE;
      border-radius: 8px;
      padding: 11px 16px;
      float: left;
      &:not(:last-child){
        margin-right: 10px;
      }
      &.price{
        width: 145px;
        div[class=to],
        div[class=from]{
          display:flex;
          position:relative;
          top: 1.5px;
          &:before{
            content: '';
            @extend %dollar-sign;
            float: left;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 4px;
            left: 3px;
          }
  
          input{
            color: #414141;
            border: none;
            background: transparent;
            text-align: right;
            font-family: Montserrat;
            font-style: normal;
            font-size: 14px;
            
            @include placeholder{
              font-weight: normal;
              color: #414141;
            }
            &:focus{
              box-shadow: none;
            }
          }
          &.from{
            margin-right: 5px;
            &:after{
              content: '';
              position: absolute;
              height: 8px;
              border-bottom: 1px solid #414141;
              top: 4px;
              right: -2.5px;
              width: 4px;
            }
          }
          &.to{
            &:before{
              content: '';
              @extend %dollar-sign-bold;
            }
            input{
              font-weight: bold;
              @include placeholder{
                font-weight: bold;
              }
            }
          }
        }
      }
      &.dreamHome{
        float: right;
        padding: 12px;
        .icon{
          width: 23px;
          height: 21px;
        }
      }
    }
  }
  &.open{
    .tile{
      display:none;
    }
    .MapContainer{
      animation: toggle 0.5s ease-in-out;
      height: 440px;
      @keyframes toggle {
        0%{
          height: 170px;
        }
        100%{
          height: 440px;
        }
      }
    }
    .filters{
      position: relative;
    }
  }
}